<h1>Sign up for Savory</h1>

<%= form_with model: @user, url: registration_path do |form| %>
  <% if @user.errors.any? %>
    <div style="color: red;">
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email_address %><br>
    <%= form.email_field :email_address %>
  </div>

  <div>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </div>

  <div>
    <%= form.label :password_confirmation %><br>
    <%= form.password_field :password_confirmation %>
  </div>

  <div>
    <%= form.submit "Sign up" %>
  </div>
<% end %>

<%= link_to "Already have an account? Log in", new_session_path %>
