<div id="<%= dom_id review %>">
  <div>
    <strong>Rating:</strong>
    <%= review.rating %>
  </div>

  <div>
    <strong>Comment:</strong>
    <%= review.comment %>
  </div>

  <div>
    <strong>Recipe:</strong>
    <%= review.recipe_id %>
  </div>

  <div>
    <strong>User:</strong>
    <%= review.user_id %>
  </div>

</div>
