<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Savory" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Savory">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= yield :head %>
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <nav>
      <%= link_to "Savory", root_path, class: "brand" %>
      <div>
        <% if Current.user %>
          <%= link_to "My Recipes", recipes_path %>
          <%= button_to "Log out", session_path, method: :delete, style: "background:none;color:white;text-decoration:underline;display:inline;padding:0;" %>
        <% else %>
          <%= link_to "Log in", new_session_path %>
          <%= link_to "Sign up", new_registration_path %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
